* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1080px;
  margin: auto;
  padding: 1rem;
}

.library {
  display: flex;
  flex-wrap: wrap;
  border: 1px red solid;
  margin: 2rem;
}

.book-card {
  list-style-type: none;
  padding: 1rem;
  margin: 1rem;
  min-width: 200px;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: aliceblue;
}

/* Button */
.add {
  padding: 1rem 2rem;
  border-radius: 12px;
  background-color: transparent;
  border: 1px solid black;
  display: block;
  margin: auto;
}

.add:hover {
  background-color: aliceblue;
}

/* Delete button */
.delete-button {
  background-color: lightcoral;
  border: none;
  border-radius: 12px;
  display: inline;
  padding: .7rem;
  margin: 0 0 0 auto;
}

/* Read button */
.read-button {
  border-radius: 12px;
  background-color: transparent;
  border: 1px solid #6abea7;
  color: #6abea7;
  border-radius: 12px;
  display: inline;
  padding: .7rem;
  margin: 0 0 0 auto;
}

.read-button-completed {
  background-color: #6abea7;
  color: white;
}

/* New book form */
.pop-up {
  position: fixed;
  z-index: -99;
  top: 50%;
  left: 50%;
  text-align: center;
  width: 350px;
  height: 400px;
  transform: translate(-50%, -50%);
  background-color: blanchedalmond;
  opacity: 0;
}

.pop-up-active {
  opacity: 1;
  z-index: 99;
}

.pop-up-form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.pop-up-form > input {
  margin: 1rem;
  height: 2rem;
  padding: 1rem;
}

.pop-up > button {
  display: inline;
  padding: 1rem 2rem;
  border-radius: 12px;
  border: none;
  margin: 0 1rem;
}