* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #D9DBE8;;
}

.container {
  max-width: 1080px;
  margin: auto;
  padding: 1rem;
}

h2, p, li {
  color: #2E2C2F;
}

.library {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem;
  min-height: 204px;
}

.book-card {
  list-style-type: none;
  padding: 1.5rem;
  margin: 1rem;
  min-width: 220px;
  height: 190px;
  display: flex;
  border-radius: 12px 24px;
  flex-direction: column;
  justify-content: space-between;
  background-color: #8d94ba;
}

/* Button */
.add {
  padding: 1rem 2rem;
  border-radius: 12px;
  background-color: transparent;
  border: 1px solid #2E2C2F;
  color: #2E2C2F;
  display: block;
  margin: auto;
}

.add:hover {
  background-color: #2E2C2F;
  color: aliceblue;
}

/* Buttons div */
.buttons-div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

/* Delete button */
.delete-button {
  background-color: lightcoral;
  border: none;
  border-radius: 12px;
  display: inline;
  padding: .7rem;
  color: white;
}

/* Read button */
.read-button {
  border-radius: 12px;
  background-color: transparent;
  border: 1px solid #a0cfd3;
  color: #a0cfd3;
  border-radius: 12px;
  display: inline;
  padding: .7rem;
}

.read-button-completed {
  background-color: #a0cfd3;
  color: white;
}

/* New book form */
.pop-up {
  position: fixed;
  z-index: -99;
  top: 50%;
  left: 50%;
  text-align: center;
  width: 350px;
  border-radius: 24px;
  height: 420px;
  transform: translate(-50%, -50%);
  background-color: #5C6599;
  opacity: 0;
}

.pop-up-active {
  opacity: 1;
  z-index: 99;
}

.pop-up-form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.pop-up-form > input {
  margin: 1rem;
  height: 2.5rem;
  padding: 1rem;
  border-radius: 12px;
  border: none;
}

.pop-up > button {
  display: inline;
  padding: 1rem 2rem;
  border-radius: 12px;
  border: none;
  margin: 0 1rem;
}